<%- include('header', { currentPage: 'risk' }); -%>
    <div id="colorlib-main">
        <section class="ftco-section pt-4 mb-5 ftco-intro">
            <div class="container-fluid px-3 px-md-0">
                <h1>Results</h1>
                <hr>
                <%- message %>
                <form>
                    <h2>Hypertension</h2>
                    <div class="alert alert-<%- htn.class %>">
                        <%-htn.message%><br>
                        Score: <%- htn.score %> (limit = 26/40).
                    </div> <br>
                    <h2>Insulin resistance</h2>
                    <div class="alert alert-<%- ir.class %>">
                        <%-ir.message%><br>
                        Score: <%- ir.score %>.
                    </div> <br>
                    <h2>Compare with previous scores</h2>
                        <%-history%>
                </form>
            </div>
        </section>
    </div>
</div>
<%- include('footer'); -%>

