<%- include('header', { currentPage: 'personalized' }); -%>
    <div id="colorlib-main">
        <section class="ftco-section pt-4 mb-5 ftco-intro">
            <div class="container-fluid px-3 px-md-0">
                <%- error_msg %>
                <b>Step 3 : Weight loss goal</b>
                <form action="/weight-loss-rate" method="POST">
                    <div class="alert alert-info">
                        <strong>Message:</strong><br> According to the collected data your BMI is: <%- bmi %>. The healthy body weight range that corresponds to your height is <%- lower %> - <%- higher %> kg.
                    </div> <br>
                    <label for="weightGoal">What is your target body weight?</label>
                    <input type="number" id="weightGoal" name="weight-goal" min="<%- lower %>" max="<%- higher %>"><br><br>

                    <div class="alert alert-info">
                        <strong>Message:</strong><br> <%- message %>
                    </div> <br>
                    <label for="weightRate">How many kilograms you wish to lose on a monthly basis?</label>
                    <input type="number" id="weightRate" name="weight-rate" min="<%- rate_min %>" max="<%- rate_max %>"><br><br><br>
                    <div id="buttons">
                      <a href="/energy-expenditure" id="previous-anchor">Previous</a>
                      <input type="submit" id="submitData" name="submit-data" value="Next">
                    </div>
                </form>
            </div>
        </section>
    </div>
<%- include('footer'); -%>

